*.pyc

# ignore config files both locally and on the server
config.py
pg_backups/*

# this file is too large to pull or push from GitHub
_static/data/aamulehti-1999.csv

# on the server
stop.sh
start.sh
restart.sh
error.log
finnsyll-dev-env

# on Naomi's laptop
notes.txt
_latex/
aamulehti-1999/
records/
syllabifier-dev/