{% macro modal() -%}
    <div class='modal fade' id='modal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>
        <div class='modal-dialog' role='document'>
            <div class='modal-content'>
                <div class='modal-body'>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                    <form class='doc-tokens' method='POST'>
                        <div class='container-fluid'>
                            <input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
                            <br>
                            <br>
                            <div class='row'>
                                <span class='modal-label col-xs-5'>Orthography:</span>
                                <input type='text' id='orth' name='orth' class='gray readonly col-xs-7' value='' readonly>
                            </div>
                            <br>
                            <div class='row'>
                                <span class='modal-label col-xs-5'>Test Syll:</span>
                                <input type='text' id='test' name='test_syll' class='gray readonly col-xs-7' value='' readonly>
                            </div>
                            <br>
                            <div class='row'>
                                <span class='modal-label col-xs-5'>Rules:</span>
                                <input id='rules' class='gray readonly col-xs-7' value='' readonly></input>
                            </div>
                            <br>
                            <div class='row'>
                                <span class='modal-label col-xs-5'>Correct Syll:</span>
                                <input type='text' id='syll' name='syll' class='gray col-xs-7' value=''>
                            </div>
                            <br>
                            <div class='row'>
                                <span class='modal-label col-xs-5'>Alt Syll 1:</span>
                                <input type='text' id='alt1' name='alt_syll1' class='gray col-xs-7' value=''>
                            </div>
                            <br>
                            <div class='row'>
                                <span class='modal-label col-xs-5'>Alt Syll 2:</span>
                                <input type='text' id='alt2' name='alt_syll2' class='gray col-xs-7' value=''>
                            </div>
                            <br>
                            <div class='row'>
                                <span class='modal-label col-xs-5'>Alt Syll 3:</span>
                                <input type='text' id='alt3' name='alt_syll3' class='gray col-xs-7' value=''>
                            </div>
                            <br>
                            <div class='row'>
                                <span class='modal-label col-xs-5'>Compound:</span>
                                <input type='checkbox' id='compound' name='is_compound' class='col-xs-7' value=1>
                            </div>
                            <br>
                            <div class='row'>
                                <span class='modal-label col-xs-5'>Stopword:</span>
                                <input type='checkbox' id='stopword' name='is_stopword' class='col-xs-7' value=1 disabled>
                            </div>
                            <br>
                            {% if kw == 'doc' %}
                            <input type='hidden' name='scroll' id='scroll' value=''>
                            {% elif kw == 'contains' or kw == 'find' %}
                            <input type='hidden' name='search' id='search' value='{% if find %}{{ find }}{% endif %}'>
                            {% endif %}
                            <input type='hidden' name='find' id='find' value=''> <!-- TODO -->
                            <input type='submit' class='OK' value='OK!'><br>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro paginate(pagination) -%}
    <div class='pagination'>
        {% if pagination.has_prev %}
        <a href="{{ url_for_other_page(pagination.page - 1) }}">&laquo; Previous</a>
        {% endif %}
        {% for page in pagination.iter_pages() %}
        {% if page %}
        {% if page != pagination.page %}
        <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
        {% else %}
        <strong>{{ page }}</strong>
        {% endif %}
        {% else %}
        <span class='ellipsis'>…</span>
        {% endif %}
        {% endfor %}
        {% if pagination.has_next %}
        <a href="{{ url_for_other_page(pagination.page + 1) }}">Next &raquo;</a>
        {% endif %}
    </div>
{%- endmacro %}

{% macro populate(t) -%}
    populatemodal('{{ t.id }}', '{{ t.orth }}', '{{ t|goldclass }}', '{{ t.test_syll }}', '{{ t.rules }}', '{% if t.syll %}{{ t.syll }}{% else %}{{ t.test_syll }}{% endif %}', '{{ t.alt_syll1 }}', '{{ t.alt_syll2 }}', '{{ t.alt_syll3 }}', '{% if t.is_compound %}checked{% else %} {% endif %}', '{% if t.is_stopword %}checked{% else %} {% endif %}');
{%- endmacro %}

{% macro title(t) -%}
    Lemma: {{ t.lemma }}&#10;&#10;Part of speech: {{ t.pos }}&#10;&#10;Morpho-syntactic description: {{ t.msd }}&#10;&#10;Sonority: {{ t.sonorities }}&#10;&#10;Weight: {{ t.weights }}
{%- endmacro %}

{% macro tokenify(tokens, inline=True, explicit=False) -%}
    {% if explicit %}
    <div class='find'>  <!-- TODO -->
        {% for t in tokens %}
        <span class='attr-orth'>{{ t.orth }}</span>
        <br>
        <span class='attr-label'>test</span>
        <a data-toggle='modal' data-target='#modal' onclick="{{ populate(t) }}" class='{{ t|goldclass }}{% if t.is_compound %} compound{% endif %}'>{{ t.test_syll }}</a>
        <br>
        {% if t.syll %}
        <span class='attr-label'>gold</span> {{ t.syll }}
        <br>
        {% endif %}
        {% if t.alt_syll1 %}
        <span class='attr-label'>alt</span> {{ t.alt_syll1 }}
        <br>
        {% endif %}
        {% if t.alt_syll2 %}
        <span class='attr-label'>alt</span> {{ t.alt_syll2 }}
        <br>
        {% endif %}
        {% if t.alt_syll3 %}
        <span class='attr-label'>alt</span> {{ t.alt_syll3 }}
        <br>
        {% endif %}
        <span class='attr-label'>rules</span> {{ t.rules }}
        <br>
        <span class='attr-label'>pos</span> {{ t.pos }}
        <br>
        <span class='attr-label'>msd</span> {{ t.msd }}
        <br>
        <span class='attr-label'>lemma</span> {{ t.lemma }}
        <br>
        <br>
        {% else %}
        <span class='message'>No matches found.</span>
        {% endfor %}
    </div>
    {% elif inline %}
    <div class='row hidden-xs hidden-sm'>
        <span class='attr-label col-md-1'>freq</span>
        <span class='attr-label col-md-2'>test</span>
        <span class='attr-label col-md-2'>syll 1</span>
        <span class='attr-label col-md-2'>syll 2</span>
        <span class='attr-label col-md-2'>syll 3</span>
        <span class='attr-label col-md-2'>syll 4</span>
        <span class='attr-label col-md-1'>compound</span>
    </div>
    <br class='hidden-xs hidden-sm'>
    {% for t in tokens %}
    <div class='row'>
        <span class='col-xs-12 col-md-1 freq'>{{ t.freq }}</span>
        <input type='hidden' name='find_{{ loop.index }}' value='{{ t.id }}'> <!-- TODO -->
        <span class='col-xs-12 col-md-2'>
            <span class='{{ t|goldclass }}' title='{{ title(t) }}'>{{ t.test_syll }}</span>
        </span>
        <input type='text' id='test' name='test_syll_{{ loop.index }}' readonly='True' value='{{ t.test_syll }}' hidden>
        <span class='col-xs-6 col-md-2'>
            <input type='text' class='gray' id='syll' name='syll_{{ loop.index }}' value='{% if t.syll %}{{ t.syll }}{% else %}{{ t.test_syll }}{% endif %}'>
        </span>
        <span class='col-xs-6 col-md-2'>
            <input type='text' class='gray' id='alt1' name='alt_syll1_{{ loop.index }}' placeholder='alternative syll 1' value='{{ t.alt_syll1 }}'>
        </span>
        <span class='col-xs-6 col-md-2'>
            <input type='text' class='gray' id='alt2' name='alt_syll2_{{ loop.index }}' placeholder='alternative syll 2' value='{{ t.alt_syll2 }}'>
        </span>
        <span class='col-xs-6 col-md-2'>
            <input type='text' class='gray' id='alt3' name='alt_syll3_{{ loop.index }}' placeholder='alternative syll 3' value='{{ t.alt_syll3 }}'>
        </span>
        <span class='col-xs-12 col-md-1'>
            <input type='checkbox' id='compound' name='is_compound_{{ loop.index }}' value=1 {% if t.is_compound %} checked{% endif %}>
            <span class='attr-label visible-xs visible-sm' style='float: left;'>compound&nbsp;&nbsp;</span>
        </span>
    </div>
    <br>
    {% endfor %}
    {% else %}
    <div class='row hidden-xs hidden-sm'>
        <span class='attr-label col-md-3'>orth</span>
        <span class='attr-label col-md-2'>rules</span>
        <span class='attr-label col-md-3'>test</span>
        <span class='attr-label col-md-3'>gold</span>
    </div>
    <br class='hidden-xs hidden-sm'>
        {% for t in tokens %}
    <div class='row'>
        <span class='col-xs-12 col-md-3' title='{{ title(t) }}'>{{ t.orth }}</span>
        <span class='hidden-xs hidden-sm col-md-2'>{{ t.rules }}</span>
        <span class='col-xs-6 col-md-3'>
            <span data-toggle='modal' data-target='#modal' onclick="{{ populate(t) }}" class='{{ t|goldclass }}{% if t.is_compound %} compound{% endif %}'>{{ t.test_syll }}</span>
        </span>
        <span class='visible-xs visible-sm col-xs-6'>{{ t.rules }}</span>
        <span class='col-xs-12 col-md-3'>{{ t.syll }}{{ t.alt_syll1 }}{% if t.alt_syll1 %} + {% endif %}</span>
    </div>
    <br>
    {% endfor %}
    {% endif %}
{%- endmacro %}