<html lang='en'>
    <title>FinnSyll</title>
    <head>
        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}">
        {% if session.is_admin %}
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
        {% endif %}
        {% if config.TESTING %}
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='finnsyll-testing.png') }}">
        {% else %}
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='finnsyll.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='finnsyll.png') }}">
        {% endif %}
        <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    </head>
    <body class='container'>
        <br>
        {% if session.is_admin %}
        {% include 'navbar.html' %}
        {% else %}
        <span style='float: right; font-size: 19px'>
            <a href="{{ url_for('annotation_view') }}" class='annotation-link' {% if kw == 'annotation' %}style='font-weight: bold;'{% endif %}>annotation</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
            <a href="{{ url_for('needs_context_view') }}" class='annotation-link' {% if kw == 'needs-context' %}style='font-weight: bold;'{% endif %}>unsure</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
            <a href="{{ url_for('logout_view') }}" class='annotation-link'>sign out</a>
        </span>
        {% endif %}
        <br>
        <br>
        <br>
        <div class='description' style='font-size: 19px;'>Which of the following <strong>{{ count }}</strong> words are compounds?</div>
        {% if errors %}
        <div class='alert alert-info' role='alert' style='padding-left: 10%;'><strong>ERRORS</strong>:&nbsp;&nbsp;<i>{{ errors }}</i></div>
        {% else %}
        <br>
        {% endif %}
        <br>
        <div class='divide'></div>
        <br>
        {% if kw == 'annotation' %}  <!-- annotation -->
        <form method='POST'>
            <input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
            {% for t in tokens %}
            <div class='row'>
                <span class='hidden-xs hidden-sm col-md-1'></span>
                <span class='col-xs-12 col-md-4'>
                    <input style='text-transform: lowercase; border: none; width: 100%; height: initial; padding-left: 8px;' title='Part of speech: {{ t.pos }}&#10;Morpho-syntactic description: {{ t.msd }}' value='{{ t.orth }}'>
                </span>
                <br class='visible-xs visible-sm'>
                <br class='visible-xs visible-sm'>
                <span class='col-xs-12 col-md-5'>
                    <input type='text' name='base_{{ t.id }}' value='{{ t.gold_base }}' style='border: none; width: 100%; height: initial; padding: 8px; margin: -8px 0; background: #F5F5F5;'>
                    <input type='hidden' name='id_{{ t.id }}' value='{{ t.id }}'>
                </span>
                <span class='col-xs-3 col-sm-3 col-md-1' style='margin-left: 40px; vertical-align: middle'>
                    <br class='visible-xs visible-sm'>
                    <input type='checkbox' name='unsure_{{ t.id }}' value='1'>
                </span>
            </div>
            <br>
            <div class='divide'></div>
            <br>
            {% endfor %}
            <br>
            <br>
            <div class='center'>
                <input type='submit' class='BIG OK' onclick="return confirm('Are you positive you want to submit these words?');" value='OK!'>
            </div>
        </form>
        {% else %}  <!-- needs context -->
        {% for t in tokens %}
        <form method='POST'>
            <div class='row'>
                <span class='hidden-xs hidden-sm col-md-1'></span>
                <span class='col-xs-12 col-md-4'>
                    <input style='text-transform: lowercase; border: none; width: 100%; height: initial; padding-left: 8px;' title='Part of speech: {{ t.pos }}&#10;Morpho-syntactic description: {{ t.msd }}' value='{{ t.orth }}'>
                </span>
                <br class='visible-xs visible-sm'>
                <br class='visible-xs visible-sm'>
                <span class='col-xs-12 col-md-5'>
                    <input type='text' name='base' value='{{ t.gold_base }}' style='border: none; width: 100%; height: initial; padding: 8px; margin: -8px 0; background: #F5F5F5;'>
                    <input type='hidden' name='id' value='{{ t.id }}'>
                </span>
                <span class='hidden-xs hidden-sm col-md-2'>
                    <input type='submit' class='OK' value='OK!' style='margin-top: -8px; height: 38px;'>
                </span>
            </div>
            {% if t.context %}
            <br>
            <div class='row'>
                <span class='hidden-xs hidden-sm col-md-1'></span>
                <span class='col-xs-9' style='text-align: justify;'>{{ t.context|safe }}</span>
                <span class='hidden-xs hidden-sm col-md-2'></span>
            </div>
            <br class='hidden-xs hidden-sm'>
            {% endif %}
            <span class='visible-xs visible-sm'>
                <br>
                <br>
                <input type='submit' class='OK' value='OK!' style='margin-top: -8px; height: 38px;'>
            </span>
        </form>
        <div class='divide'></div>
        <br>
        {% endfor %}
        {% endif %}
        <br>
        <br>
        <br>
        <br>
    </body>
</html>