<!DOCTYPE html>

<html lang='en'>
    <title>FinnSyll {% if config.TESTING %}- Development{% endif %}</title>
    <head>
        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}">
        {% if config.TESTING %}
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='finnsyll-testing.png') }}">
        {% else %}
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='finnsyll.png') }}">
        {% endif %}
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class='fixed-nav-bar'>
            <ul>
                <li><a href="{{ url_for('main_view') }}" class="nav {% if kw == 'main' %}highlight{% endif %}">Main &#8623;</a>
                    <ul>
                        {% for doc in docs %}
                        <li><a href="{{ url_for('doc_view', id=doc.id) }}" class='doc-title'>{{ doc.filename }}</a></li>
                        {% else %}
                        <li class='no-docs'><a href="#">...</a></li>
                        {% endfor %}
                    </ul>
                    <span class="bar">|</span>
                </li>
                <li><a href="{{ url_for('rules_view') }}" class="nav {% if kw == 'rules' %}highlight{% endif %}">Rules</a> <span class="bar">|</span></li>
                <li><a href="{{ url_for('contains_view') }}" class="nav {% if kw == 'contains' %}highlight{% endif %}">Contains</a> <span class="bar">|</span></li>
                <li><a href="{{ url_for('find_view') }}" class="nav {% if kw == 'find' %}highlight{% endif %}">Find</a> <span class="bar">|</span></li>
                <li><a href="{{ url_for('unverified_view') }}" class="nav {% if kw == 'unverified' %}highlight{% endif %}">Unverified</a> <span class="bar">|</span></li>
                <li><a href="{{ url_for('bad_view') }}" class="nav {% if kw == 'bad' %}highlight{% endif %}">Bad</a> <span class="bar">|</span></li>
                <li><a href="{{ url_for('logout_view') }}" class="nav">Sign Out</a></li>
            </ul>
            {% block toolbar %}{% endblock %}
        </nav>
        <br>
        <div class='block-body'>
            {% block body %}{% endblock %}
        </div>
        <br>
        <br>
        <br>
        <br>
    </body>
</html>