<!DOCTYPE html>

{% from 'macros.html' import modal, populate, title, tokenify %}

<html lang='en'>
    <title>FinnSyll {% if config.TESTING %}- Development{% endif %}</title>
    <head>
        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}">
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
        {% if config.TESTING %}
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='finnsyll-testing.png') }}">
        {% else %}
        <link rel='icon' type='image/png' href="{{ url_for('static', filename='finnsyll.png') }}">
        <link rel='apple-touch-icon-precomposed' href="{{ url_for('static', filename='finnsyll.png') }}">
        <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
        {% endif %}
        {% block head %}{% endblock %}
    </head>
    <body>
        {% include 'navbar.html' %}
        <br>
        <br>
        <div class='block-body'>
            {% block body %}{% endblock %}
            {% if pagination %}
            <div class='pagination center'>
                {% if pagination.has_prev %}
                <a href="{{ url_for_other_page(pagination.page - 1) }}">&laquo; Previous</a>
                {% endif %}
                {% for page in pagination.iter_pages() %}
                {% if page %}
                {% if page != pagination.page %}
                <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
                {% else %}
                <strong>{{ page }}</strong>
                {% endif %}
                {% else %}
                <span class='ellipsis'>…</span>
                {% endif %}
                {% endfor %}
                {% if pagination.has_next %}
                <a href="{{ url_for_other_page(pagination.page + 1) }}">Next &raquo;</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <br>
        <br>
        <br>
        <br>
    </body>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
</html>
