<!DOCTYPE html>

{% from 'macros.html' import modal, populate, title, tokenify %}

<html lang='en'>
    <title>FinnSyll {% if config.TESTING %}- Development{% endif %}</title>
    <head>
        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}">
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
        {% if config.TESTING %}
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='finnsyll-testing.png') }}">
        {% else %}
        <link rel='icon' type='image/png' href="{{ url_for('static', filename='finnsyll.png') }}">
        <link rel='apple-touch-icon-precomposed' href="{{ url_for('static', filename='finnsyll.png') }}">
        <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
        {% endif %}
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class='navbar navbar-default navbar-fixed-top'>
            <div class='container-fluid'>
                <div class='navbar-header'> <!-- navbar header -->
                    <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false'>
                        <span class='sr-only'>Toggle navigation</span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                    </button>
                </div>
                <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
                    <ul class='nav navbar-nav'>
                        <li><a href="{{ url_for('main_view') }}"><span class="{% if kw == 'main' %}highlight{% endif %}">Main</span></a></li>
                        <li class='dropdown'>
                            <a role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'><span class="{% if kw == 'rules' or kw == 'notes' %}highlight{% endif %}">Info</span> &#8623;</a>
                            <ul class='dropdown-menu'>
                                <li><a href="{{ url_for('rules_view') }}"><span class="{% if kw == 'rules' %}highlight{% endif %}">Rules</span></a></li>
                                <li><a href="{{ url_for('notes_view') }}"><span class="{% if kw == 'notes' %}highlight{% endif %}">Notes</span></a></li>
                                <li><a href='http://tsnaomi.github.io/finnsyll/'><span>Github</span></a></li>
                            </ul>
                        </li>
                        <li class='dropdown'>
                            <a role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'><span class="{% if kw == 'poem' %}highlight{% endif %}">Poems</span> &#8623;</a>
                            <ul class='dropdown-menu'>
                                {% for p in poems %}
                                <li><a href="{{ url_for('poem_view', id=p.id) }}">no. {{ p.id }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class='dropdown'>
                            <a role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'><span class="{% if kw == 'contains' or kw == 'find' %}highlight{% endif %}">Search</span> &#8623;</a>
                            <ul class='dropdown-menu'>
                                <li><a href="{{ url_for('find_view') }}"><span class="{% if kw == 'find' %}highlight{% endif %}">Find</span></a></li>
                                <li><a href="{{ url_for('contains_view') }}"><span class="{% if kw == 'contains' %}highlight{% endif %}">Contains</span></a></li>
                            </ul>
                        </li>
                        <li class='dropdown'>
                            <a role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'><span class="{% if kw == 'unverified_compounds' or kw == 'uncaptured_compounds' %}highlight{% endif %}">Compounds</span> &#8623;</a>
                            <ul class='dropdown-menu'>
                                <li><a href="{{ url_for('unverified_compounds_view') }}"><span class="{% if kw == 'unverified_compounds' %}highlight{% endif %}">Unverified</span></a></li>
                                <li><a href="{{ url_for('uncaptured_compounds_view') }}"><span class="{% if kw == 'uncaptured_compounds' %}highlight{% endif %}">Uncaptured</span></a></li>
                            </ul>
                        </li>
                        <li class='dropdown'>
                            <a role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'><span class="{% if kw == 'bad' or kw == 'unverified' or kw =='variation' %}highlight{% endif %}">Tokens</span> &#8623;</a>
                            <ul class='dropdown-menu'>
                                <li><a href="{{ url_for('bad_view') }}"><span class="{% if kw == 'bad' %}highlight{% endif %}">Bad</span></a></li>
                                <li><a href="{{ url_for('variation_view') }}"><span class="{% if kw == 'variation' %}highlight{% endif %}">Variation</span></a></li>
                                <li><a href="{{ url_for('unverified_view') }}"><span class="{% if kw == 'unverified' %}highlight{% endif %}">Unverified</span></a></li>
                                <!-- <li><a href="{{ url_for('lemma_view') }}"><span class="{% if kw == 'lemma' %}highlight{% endif %}">Lemmas</span></a></li> -->
                            </ul>
                        </li>
                        <!-- <li><a href='http://tsnaomi.github.io/finnsyll/'><span>Github</span></a></li> -->
                        <li><a href="{{ url_for('logout_view') }}"><span>Sign Out</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <br>
        <br>
        <div class='block-body'>
            {% block body %}{% endblock %}
            {% if pagination %}
            <div class='pagination center'>
                {% if pagination.has_prev %}
                <a href="{{ url_for_other_page(pagination.page - 1) }}">&laquo; Previous</a>
                {% endif %}
                {% for page in pagination.iter_pages() %}
                {% if page %}
                {% if page != pagination.page %}
                <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
                {% else %}
                <strong>{{ page }}</strong>
                {% endif %}
                {% else %}
                <span class='ellipsis'>…</span>
                {% endif %}
                {% endfor %}
                {% if pagination.has_next %}
                <a href="{{ url_for_other_page(pagination.page + 1) }}">Next &raquo;</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <br>
        <br>
        <br>
        <br>
    </body>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
</html>
