{% extends 'base.html' %}

{% block head %}
{% if scroll %}
<script>
    $(document).ready(function () {
        $('html, body').scrollTop({{ scroll }});
    });
</script>
{% endif %}
{% endblock %}

{% block body %}
{{ modal() }}
<br>
<br>
<div class='doc-title center'>{{ doc.filename }}</div>
<br>
<div class='doc-text container'>   
{% for t in TEXT %}
    {% if t is token %}
    <a data-toggle='modal' data-target='#modal' onclick="window.scroll = $(window).scrollTop(); {{ populate(t) }}" class='word {{ t|goldclass }}{% if t.is_compound %} compound{% endif %}'> {{ t.test_syll1 }} </a>
    {% elif t == '.' %}
    <span class='punct'>.</span>
    <br>
    <br>
    {% else %}
    <span class='punct'>{{ t }}</span>
    {% endif %}
{% endfor %}
</div>
<br>
<form class='center' method='POST' action="{{ url_for('approve_doc_view', id=doc.id) }}{{ doc_id }}"> 
    <input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
    <input type='submit' class='BIG OK' value='OK!'  onclick="return confirm('Are you positive you want to approve all of the syllabifications in this document?\n\n(This does not include any syllabifications previously marked as incorrect.)');">
</form>
{% endblock %}

{% block footer %}
<script>
    function populatemodal(id, orth, gold, freq, pos, msd, rules1, rules2, rules3, rules4, test1, test2, test3, test4, syll1, syll2, syll3, syll4, precision, recall, compound, stopword, foreign, note) {
        $('#orth').text(orth);
        $('#orth').attr('class', 'attr-orth ' + gold);
        $('#freq').text(freq);
        $('#pos').text(pos);
        $('#msd').text(msd);
        $('#precision').text(precision);
        $('#recall').text(recall);
        $('#rules1').text(rules1);
        $('#rules2').text(rules2);
        $('#rules3').text(rules3);
        $('#rules4').text(rules4);
        $('#test1').text(test1);
        $('#test2').text(test2);
        $('#test3').text(test3);
        $('#test4').text(test4);
        if (gold == 'unverified') {
            $('#syll1').val(test1);
            $('#syll2').val(test2);
            $('#syll3').val(test3);
            $('#syll4').val(test4);
        } else {
            $('#syll1').val(syll1);
            $('#syll2').val(syll2);
            $('#syll3').val(syll3);
            $('#syll4').val(syll4);
        };
        $('#note').text(note.replace(/&#13;&#10;/g, '\r\n').replace(/&#40;/g, '(').replace(/&#41;/g, ')').replace(/&#34;/g, '"').replace(/&#39;/g, "'"));
        $('#id').val(id);
        $('#scroll').val(scroll);
        if (compound == 'True') {
            $('#compound').prop('checked', true);
        };
        if (stopword == 'True') {
            $('#stopword').prop('checked', true);
        };
        if (foreign == 'True') {
            $('#foreign').prop('checked', true);
        };
    }
</script>
{% endblock %}
