{% extends 'base.html' %}

{% block head %}
{% if scroll %}
<script>
    $(document).ready(function () {
        $('html, body').scrollTop({{ scroll }});
    });
</script>
{% endif %}
{% endblock %}

{% block body %}
{{ modal() }}
<br>
<br>
<div class='doc-title center'>{{ doc.filename }}</div>
<br>
<div class='doc-text container'>   
{% for t in TEXT %}
    {% if t is token %}
    <a data-toggle='modal' data-target='#modal' onclick="{{ populate(t) }}" class='word {{ t|goldclass }}{% if t.is_compound %} compound{% endif %}'> {{ t.test_syll }} </a>
    {% elif t == '.' %}
    <span class='punct'>.</span>
    <br>
    <br>
    {% else %}
    <span class='punct'>{{ t }}</span>
    {% endif %}
{% endfor %}
</div>
<br>
<form class='center' method='POST' action="{{ url_for('approve_doc_view', id=doc.id) }}{{ doc_id }}"> 
    <input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
    <input type='submit' class='BIG OK' value='OK!'  onclick="return confirm('Are you positive you want to approve all of the syllabifications in this document?\n\n(This does not include any syllabifications previously marked as incorrect.)');">
</form>
{% endblock %}

{% block footer %}
<script>
    function populatemodal(find, orth, gold, test, rules, syll, alt1, alt2, alt3, compound, stopword) {
        $('#orth').val(orth);
        $('#test').val(test);
        $('#test').addClass(gold);
        $('#rules').val(rules);
        $('#syll').val(syll);
        $('#alt1').val(alt1);
        $('#alt2').val(alt2);
        $('#alt3').val(alt3);
        $('#find').val(find);
        $('#scroll').val(scroll);
        if (compound == 'checked') {
            $('#compound').prop('checked', true);
        };
        if (stopword == 'checked') {
            $('#stopword').prop('checked', true);
        };
    }
</script>
{% endblock %}
