{% extends 'base.html' %}

{% block head %}
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
<div class="search"> 
    <form class='search' method='POST'>
        <input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
        <input type='text' name='search' class='find' placeholder='type in a word...'>
        <input type='submit' class='find' value='FIND'>
    </form>
    <br>
    {% if results is not none %}
        {% for t in results %}
    <span class='finding'>{{ t.orth }}</span><br>
    <span class='attr'>test</span> <a href='#modal-{{ loop.index }}' class='{{ t|goldclass }} {% if t.is_compound %} compound {% endif %}'>{{ t.test_syll }}</a><br>
    {% if t.syll %}<span class='attr'>gold</span> {{ t.syll }}<br>{% endif %}
    {% if t.alt_syll1 %}<span class='attr'>alt</span> {{ t.alt_syll1 }}<br>{% endif %}
    {% if t.alt_syll2 %}<span class='attr'>alt</span> {{ t.alt_syll2 }}<br>{% endif %}
    {% if t.alt_syll3 %}<span class='attr'>alt</span> {{ t.alt_syll3 }}<br>{% endif %}
    <span class='attr'>rules</span> {{ t.rules }}<br>
    <span class='attr'>pos</span> {{ t.pos }}<br>
    <span class='attr'>msd</span> {{ t.msd }}<br>
    <span class='attr'>lemma</span> {{ t.lemma }}<br><br>
    <div class='modal' id='modal-{{ loop.index }}' aria-hidden='true'>
        <div class='modal-dialog'>
            <div class='modal-header'>
                <a href='#close' class='btn-close' aria-hidden='true'>x</a>
            </div>
            <div class='modal-body'>
                <form class='doc-tokens' method='POST' onsubmit="window.location.assign('#close')">
                    <input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
                    <br>
                    <span class='modal-label'>Test Syll: </span>
                    <input type='text' id='test' name='test_syll' class='{{ t|goldclass }}' readonly='True' value='{{ t.test_syll }}'>
                    <br>
                    <span class='modal-label'>Correct Syll: </span>
                    <input type='text' id='syll' name='syll' placeholder='correct syll' value='{% if t.syll %}{{ t.syll }}{% else %}{{ t.test_syll }}{% endif %}'>
                    <br>
                    <span class='modal-label'>Alt Syll 1: </span>
                    <input type='text' id='alt1' name='alt_syll1' placeholder='alternative syll 1' value='{{ t.alt_syll1 }}'>
                    <br>
                    <span class='modal-label'>Alt Syll 2: </span>
                    <input type='text' id='alt2' name='alt_syll2' placeholder='alternative syll 2' value='{{ t.alt_syll2 }}'>
                    <br>
                    <span class='modal-label'>Alt Syll 3: </span>
                    <input type='text' id='alt3' name='alt_syll3' placeholder='alternative syll 3' value='{{ t.alt_syll3 }}'>
                    <br>
                    <span class='modal-label'>Compound:</span>
                    <input type='checkbox' id='compound' name='is_compound' value=1 {% if t.is_compound %} checked{% endif %}>
                    <br>
                    <br>
                    <input type='hidden' name='find' id='find' value={{ t.id }}>
                    <input type='submit' class='OK' value='OK!'><br>
                </form>
            </div>
        </div>
    </div>
        {% else %}
    <span class='no-matches'>No matches found.</span>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}