{% macro modal() -%}
    <div class='modal fade' id='modal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>
        <div class='modal-dialog' role='document'>
            <div class='modal-content'>
                <div class='modal-body'>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                    <form class='doc-tokens' method='POST'>
                        <div class='container-fluid'>
                            <br>
                            <input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
                            <input type='hidden' name='id' id='id' value=''>
                            {% if kw == 'doc' %}
                            <input type='hidden' name='scroll' id='scroll' value=''>
                            {% elif kw == 'contains' or kw == 'find' %}
                            <input type='hidden' name='search' id='search' value='{% if find %}{{ find }}{% endif %}'>
                            {% endif %}
                            <div class='row'>
                                <div class='col-xs-12'>
                                    <span id='orth' class='attr-orth'></span>
                                </div>
                            </div>
                            <br>
                            <div class='row'>
                                <span class='attr-label col-xs-3'>rules</span>
                                <span class='attr-label col-xs-9'>test</span>
                            </div>
                            <div class='row'>
                                <span class='col-xs-3' id='rules1'></span>
                                <span class='col-xs-9' id='test1'></span>
                            </div>
                            <div class='row'>
                                <span class='col-xs-3' id='rules2'></span>
                                <span class='col-xs-9' id='test2'></span>
                            </div>
                            <div class='row'>
                                <span class='col-xs-3' id='rules3'></span>
                                <span class='col-xs-9' id='test3'></span>
                            </div>
                            <div class='row'>
                                <span class='col-xs-3' id='rules4'></span>
                                <span class='col-xs-9' id='test4'></span>
                            </div>
                            <br>
                            <div class='row'>
                                <span class='attr-label col-xs-3'>note</span>
                                <span class='attr-label col-xs-9'>gold</span>
                            </div>
                            <div class='row'>
                                <span class='col-xs-3'>
                                    <textarea id='note' name='note' class='gray'></textarea>
                                </span>
                                <span class='col-xs-9'>
                                    <div>
                                        <input id='syll1' name='syll1' class='gray' value=''></input>
                                    </div>
                                    <div>
                                        <input id='syll2' name='syll2' class='gray' value=''></input>
                                    </div>
                                    <div>
                                        <input id='syll3' name='syll3' class='gray' value=''></input>
                                    </div>
                                    <div>
                                        <input id='syll4' name='syll4' class='gray' value=''></input>
                                    </div>
                                </span>
                            </div>
                            <br>
                            <div class='row'>
                                <span class='attr-label col-xs-3'>p / r</span>
                                <span class='attr-label col-xs-3'>freq</span>
                                <span class='attr-label col-xs-3'>pos</span>
                                <span class='attr-label col-xs-3'>msd</span>
                            </div>
                            <div class='row'>
                                <span class='col-xs-3'><span id='precision'></span> / <span id='recall'></span></span>
                                <span id='freq' class='col-xs-3'></span>
                                <span id='pos' class='col-xs-3'></span>
                                <span id='msd' class='col-xs-3'></span>
                            </div>
                            <br>
                            <div class='row'>
                                <span class='attr-label col-xs-3'>compound</span>
                                <span class='attr-label col-xs-3'>stopword</span>
                            </div>
                            <div class='row'>
                                <input type='checkbox' id='compound' name='is_compound' class='col-xs-3' style="left: 12px; bottom: -1px;" value=1>
                                <input type='checkbox' id='stopword' name='is_stopword' class='col-xs-3' style="left: 12px; bottom: -1px;" value=1 disabled>
                            </div>
                            <br>
                            <div class='center'>
                                <input type='submit' class='OK' value='OK!'>
                            </div>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro populate(t) -%}
    populatemodal('{{ t.id }}', '{{ t.orth }}', '{{ t|goldclass }}', '{{ t.freq }}', '{{ t.pos }}', '{{ t.msd }}', '{{ t.rules1 }}', '{{ t.rules2 }}', '{{ t.rules3 }}', '{{ t.rules4 }}', '{{ t.test_syll1 }}', '{{ t.test_syll2 }}', '{{ t.test_syll3 }}', '{{ t.test_syll4 }}', '{{ t.syll1 }}', '{{ t.syll2 }}', '{{ t.syll3 }}', '{{ t.syll4 }}', '{{ t.precision }}', '{{ t.recall }}', '{{ t.is_compound }}', '{{ t.is_stopword }}', '{{ t.is_foreign }}', '{{ t.note|js_safe }}');
{%- endmacro %}

{% macro title(t) -%}
    Freq: {{ t.freq }}&#10;&#10;Lemma: {{ t.readable_lemma() }}&#10;&#10;Part of speech: {{ t.pos }}&#10;&#10;Morpho-syntactic description: {{ t.msd }}
{%- endmacro %}

{% macro tokenify(tokens) -%}
    <div class='row hidden-xs hidden-sm'>
        <span class='attr-label col-md-3'>orth</span>
        <span class='col-md-5'>
            <div class='row'>
                <span class='attr-label col-md-5'>rules</span>
                <span class='attr-label col-md-7'>test</span>
            </div>
        </span>
        <span class='attr-label col-md-3'>gold</span>
    </div>
    <br class='hidden-xs hidden-sm'>
    {% for t in tokens %}
    <div class='row'>
        <span class='col-xs-12 col-md-3'>
            <a class='{{ t|goldclass }}' data-toggle='modal' data-target='#modal' onclick="{{ populate(t) }}" title='{{ title(t) }}'>{{ t.orth }}</a>
            {% if t.is_complex != None %}<div><i>&nbsp;{{t.gold_base}}&nbsp;</i></div>{% endif %}
        </span>
        <div class='visible-xs visible-sm col-xs-12 height'>
        </div>
        <span class='visible-xs visible-sm col-xs-12 attr-label'>
            <div class='row'>
                <span class='col-xs-4'>rules</span><span class='col-xs-8'>test</span>
            </div>
        </span>
        <span class='col-xs-12 col-md-5'>
            <div class='row'>
                <span class='col-xs-4 col-md-5'>{{ t.rules1 }}</span><span class='col-xs-8 col-md-7'>{{ t.test_syll1 }}</span>
                {% if t.rules2 %}<div><span class='col-xs-4 col-md-5'>{{ t.rules2 }}</span><span class='col-xs-8 col-md-7'>{{ t.test_syll2 }}</span></div>
                {% if t.rules3 %}<div><span class='col-xs-4 col-md-5'>{{ t.rules3 }}</span><span class='col-xs-8 col-md-7'>{{ t.test_syll3 }}</span></div>
                {% if t.rules4 %}<div><span class='col-xs-4 col-md-5'>{{ t.rules4 }}</span><span class='col-xs-8 col-md-7'>{{ t.test_syll4 }}</span></div>
                {% if t.rules5 %}<div><span class='col-xs-4 col-md-5'>{{ t.rules5 }}</span><span class='col-xs-8 col-md-7'>{{ t.test_syll5 }}</span></div>
                {% if t.rules6 %}<div><span class='col-xs-4 col-md-5'>{{ t.rules6 }}</span><span class='col-xs-8 col-md-7'>{{ t.test_syll6 }}</span></div>
                {% if t.rules7 %}<div><span class='col-xs-4 col-md-5'>{{ t.rules7 }}</span><span class='col-xs-8 col-md-7'>{{ t.test_syll7 }}</span></div>
                {% if t.rules8 %}<div><span class='col-xs-4 col-md-5'>{{ t.rules8 }}</span><span class='col-xs-8 col-md-7'>{{ t.test_syll8 }}</span></div>
                {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
            </div>
        </span>
        {% if t.is_gold is not none %}<span class='visible-xs visible-sm col-xs-12 attr-label'>gold</span>{% endif %}
        <span class='col-xs-12 col-md-3'>
            {{ t.syll1 }}
            {% if t.syll2 %}<div>{{ t.syll2 }}</div>
            {% if t.syll3 %}<div>{{ t.syll3 }}</div>
            {% if t.syll4 %}<div>{{ t.syll4 }}</div>
            {% if t.syll5 %}<div>{{ t.syll5 }}</div>
            {% if t.syll6 %}<div>{{ t.syll6 }}</div>
            {% if t.syll7 %}<div>{{ t.syll7 }}</div>
            {% if t.syll8 %}<div>{{ t.syll8 }}</div>
            {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
        </span>
    </div>
    <br>
    <div class='divide'></div>
    <br>
    {% endfor %}
{%- endmacro %}
