{% extends 'base.html' %}

{% block body %}
<div class='description container'>
    <br class='hidden-xs hidden-sm'>
    <br><b>{{ P2.verified | stat }}</b> / <b>{{ P1.total | stat }}</b> word forms verified from the Aamulehti corpus
    <br>
    <br><b>{{ P2.correct | stat }}</b> / <b>{{ P2.verified | stat }}</b> word forms correctly syllabified
    <br><b>{{ P2.acc | stat }}</b>% accuracy (<b>{{ P2.simplex_acc | stat }}</b>% excl. compounds)
    <br><b>{{ P1.acc | stat }}</b>% accuracy excl. loanwords (<b>{{ P1.simplex_acc | stat }}</b>% excl. compounds)
    <br><b>{{ P2.p | stat }}</b> / <b>{{ P2.r | stat }}</b> mean precision and recall (<b>{{ P2.f1 | stat }}</b> mean F<sub>1</sub>)
    <br>
    <br><b>3,348</b> / <b>3,679</b> closed compounds correctly split (<b>91.00</b>%)
    <br>
    <br><b>22,486</b> vowel sequences have been pulled from Project Gutenberg.
    <br class='hidden-xs'>These vowel sequences appear across <b>22,192</b> word instances.
    <br class='hidden-xs'>These 22,192 word instances reduce to <b>6,002</b> unique word forms,
    <br class='hidden-xs'><b>2,355</b> of which also appear in the Aamulehti corpus.
</div>
{% endblock %}3