{% extends 'base.html' %}

{% block body %}
<div class='description container'>
    {% if kw == 'main' %}
    <br class='hidden-xs hidden-sm'>
    <br><b>{{ stats.gold }}</b> / <b>{{ stats.verified }}</b> word forms correctly syllabified
    <br><b>{{ stats.accuracy }}</b>% accuracy (<b>{{ stats.simplex_accuracy }}</b>% excluding compounds)
    <br><b>{{ stats.precision }}</b> / <b>{{ stats.recall }}</b> mean precision and recall (P/R)
    <br>
    <br><b>{{ stats.compound_test }}</b> / <b>{{ stats.compound_gold }}</b> compounds correctly identified
    <br><b>{{ stats.compound_accuracy }}</b>% accuracy
    <br>
    <br><b>{{ stats.verified }}</b> / <b>{{ stats.token_count }}</b> word forms verified from the Aamulehti corpus
    <br>
    <br><b>15,712</b> vowel sequences have been pulled from Project Gutenberg.
    <br class='hidden-xs'>These vowel sequences appear across <b>15,470</b> word instances.
    <br class='hidden-xs'>These 15,470 word instances reduce to <b>4,796</b> unique word forms,
    <br class='hidden-xs'><b>2,077</b> of which also appear in the Aamulehti corpus.
    {% elif kw == 'poems' %}
    <br>
    {% set prev = '' %}
    {% for p in poems %}
    {% if prev != p.ebook_number %}
    {% if prev %}</div></div>{% endif %}
    <span style='text-transform: lowercase;'>
        <strong>{{ p.title }}</strong> by <strong>{{ p.poet_surname }}</strong>
    </span>
    <br>
    <div class='row' style='margin-bottom: 10px;'>
        <div class='col-xs-1'></div>
        <div class='col-xs-11'>
    {% endif %}
    <span>
        <a href="{{ url_for('poem_view', id=p.id) }}" class='{% if p.reviewed %}good{% endif %}'><u>{{ p.portion }}</u></a>&nbsp;&nbsp;
    </span>
    {% set prev = p.ebook_number %}
    {% endfor %}
    {% endif %}
</div>
{% endblock %}