{% extends 'base.html' %}

{% block body %}
<div class='description container'>
    <br class='hidden-xs hidden-sm'>
    <div>
        <span class='data-frame'>[ <a href="{{ url_for('static', filename='data/aamulehti-1999.csv') }}" download><b>data frame</b></a> ]</span>
        <span class='data-frame'>[ <a href="#" id='poetry-csv'><b>poetry</b></a> ]</span>
    </div>
    <br>
    <b>{{ P2.verified | stat }}</b> / <b>{{ P1.total | stat }}</b> word forms verified from the Aamulehti corpus
    <br>
    <br><b>{{ P2.correct | stat }}</b> / <b>{{ P2.verified | stat }}</b> word forms correctly syllabified
    <br><b>{{ P2.acc | stat }}</b>% accuracy (<b>{{ P2.simplex_acc | stat }}</b>% excl. compounds)
    <br><b>{{ P1.acc | stat }}</b>% accuracy excl. loanwords (<b>{{ P1.simplex_acc | stat }}</b>% excl. compounds)
    <br><b>{{ P2.p | stat }}</b> / <b>{{ P2.r | stat }}</b> mean precision and recall (<b>{{ P2.f1 | stat }}</b> mean F<sub>1</sub>)
    <br>
    <br><b>3,648</b> / <b>3,688</b> closed compounds correctly split (<b>98.92</b>%)
    <br>
    <br><b>22,486</b> vowel sequences have been pulled from Project Gutenberg.
    <br class='hidden-xs'>These vowel sequences appear across <b>22,192</b> word instances.
    <br class='hidden-xs'>These 22,192 word instances reduce to <b>6,002</b> unique word forms,
    <br class='hidden-xs'><b>2,355</b> of which also appear in the Aamulehti corpus.
</div>

<script>
    $('#poetry-csv').on('click', function(e) {
        e.preventDefault();
        $('html, a').css('cursor', 'progress');
        $.get('/poems-csv', function() {
            // yea!
            window.location.href = '_static/data/poetry.csv'
        }).fail(function(jqXHR, textStatus, errorThrown) {
            // nay!
            alert('Sorry, something went awry!\n\nError: ' + errorThrown)
        }).always(function() {
            $('html, a').css('cursor', 'auto');
        })
    })
</script>
{% endblock %}3