<nav class='navbar navbar-default navbar-fixed-top'>
    <div class='container-fluid'>
        <div class='navbar-header'> <!-- navbar header -->
            <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
        </div>
        <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
            <ul class='nav navbar-nav'>
                <li><a href="{{ url_for('main_view') }}"><span class="{% if kw == 'main' %}highlight{% endif %}">Main</span></a></li>
                <li><a href="{{ url_for('poems_view') }}"><span class="{% if kw == 'poems' or kw == 'poem' %}highlight{% endif %}">Poems</span></a></li>
                <li class='dropdown'>
                    <a role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'><span class="{% if kw == 'rules' or kw == 'notes' %}highlight{% endif %}">Info</span> &#8623;</a>
                    <ul class='dropdown-menu'>
                        <li><a href="{{ url_for('rules_view') }}"><span class="{% if kw == 'rules' %}highlight{% endif %}">Rules</span></a></li>
                        <li><a href="{{ url_for('notes_view') }}"><span class="{% if kw == 'notes' %}highlight{% endif %}">Notes</span></a></li>
                        <li><a href='http://tsnaomi.github.io/finnsyll/'><span>Github</span></a></li>
                    </ul>
                </li>
                <li class='dropdown'>
                    <a role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'><span class="{% if kw == 'contains' or kw == 'find' %}highlight{% endif %}">Search</span> &#8623;</a>
                    <ul class='dropdown-menu'>
                        <li><a href="{{ url_for('find_view') }}"><span class="{% if kw == 'find' %}highlight{% endif %}">Find</span></a></li>
                        <li><a href="{{ url_for('contains_view') }}"><span class="{% if kw == 'contains' %}highlight{% endif %}">Contains</span></a></li>
                    </ul>
                </li>
                <li class='dropdown'>
                    <a role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'><span class="{% if kw == 'unverified-compounds' or kw == 'false-negative-compounds' or kw == 'false-positive-compounds' or kw == 'annotation' %}highlight{% endif %}">Compounds</span> &#8623;</a>
                    <ul class='dropdown-menu'>
                        <li><a href="{{ url_for('unverified_compounds_view') }}"><span class="{% if kw == 'unverified-compounds' %}highlight{% endif %}">Unverified</span></a></li>
                        <li><a href="{{ url_for('false_negative_compounds_view') }}"><span class="{% if kw == 'false-negative-compounds' %}highlight{% endif %}">False Negative</span></a></li>
                        <li><a href="{{ url_for('false_positive_compounds_view') }}"><span class="{% if kw == 'false-positive-compounds' %}highlight{% endif %}">False Positive</span></a></li>
                        <li><a href="{{ url_for('annotation_view') }}"><span class="{% if kw == 'annotation' %}highlight{% endif %}">Annotation</span></a></li>
                    </ul>
                </li>
                <li class='dropdown'>
                    <a role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'><span class="{% if kw == 'bad' or kw == 'unverified' or kw =='variation' %}highlight{% endif %}">Tokens</span> &#8623;</a>
                    <ul class='dropdown-menu'>
                        <li><a href="{{ url_for('bad_view') }}"><span class="{% if kw == 'bad' %}highlight{% endif %}">Bad</span></a></li>
                        <li><a href="{{ url_for('variation_view') }}"><span class="{% if kw == 'variation' %}highlight{% endif %}">Variation</span></a></li>
                        <li><a href="{{ url_for('unverified_view') }}"><span class="{% if kw == 'unverified' %}highlight{% endif %}">Unverified</span></a></li>
                        <!-- <li><a href="{{ url_for('lemma_view') }}"><span class="{% if kw == 'lemma' %}highlight{% endif %}">Lemmas</span></a></li> -->
                    </ul>
                </li>
                <!-- <li><a href='http://tsnaomi.github.io/finnsyll/'><span>Github</span></a></li> -->
                <li><a href="{{ url_for('logout_view') }}"><span>Sign Out</span></a></li>
            </ul>
        </div>
    </div>
</nav>