<nav class='navbar navbar-default navbar-fixed-top'>
    <div class='container-fluid'>
        <div class='navbar-header'> <!-- navbar header -->
            <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
        </div>
        <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
            <ul class='nav navbar-nav'>
                <!-- main -->
                <li><a href="{{ url_for('main_view') }}"><span class="{% if kw == 'main' %}highlight{% endif %}">Main</span></a></li>
                <!-- syllabify -->
                <li><a href="{{ url_for('syllabify_view') }}"><span class="{% if kw == 'syllabify' %}highlight{% endif %}">Syllabify</span></a></li>
                <!-- rules -->
                <li><a href="{{ url_for('rules_view') }}"><span class="{% if kw == 'rules' %}highlight{% endif %}">Rules</span></a></li>
                <!-- search -->
                <li><a href="{{ url_for('search_view') }}"><span class="{% if kw == 'search' %}highlight{% endif %}">Search</span></a></li>
                <!-- tokens -->
                <li class='dropdown'>
                    <a role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'><span class="{% if kw in 'bad unverified consonant-gradation foreign' %}highlight{% endif %}">Tokens</span> &#8623;</a>
                    <ul class='dropdown-menu'>
                        <li><a href="{{ url_for('token_view', kw='bad') }}"><span class="{% if kw == 'bad' %}highlight{% endif %}">Bad</span></a></li>
                        <li><a href="{{ url_for('token_view', kw='uncertain') }}"><span class="{% if kw == 'uncertain' %}highlight{% endif %}">Uncertain</span></a></li>
                        <li><a href="{{ url_for('token_view', kw='loans') }}"><span class="{% if kw == 'loans' %}highlight{% endif %}">Loans</span></a></li>
                        <li><a href="{{ url_for('token_view', kw='gradation') }}"><span class="{% if kw == 'gradation' %}highlight{% endif %}">Gradation</span></a></li>
                        <li><a href="{{ url_for('token_view', kw='notes') }}"><span class="{% if kw == 'notes' %}highlight{% endif %}">Notes</span></a></li>
                    </ul>
                </li>
                <!-- poetry -->
                <li><a href="{{ url_for('poems_view') }}"><span class="{% if kw == 'poems' or kw == 'poem' %}highlight{% endif %}">Poems</span></a></li>
                <li><a href="{{ url_for('logout_view') }}"><span>Sign Out</span></a></li>
            </ul>
        </div>
    </div>
</nav>