{% extends 'base.html' %}

{% block body %}
<div class='description container'>
    <br>
    {% set prev = '' %}
    {% for section in sections %}
    {% if not prev or prev._book != section._book %}
    {% if prev %}</div></div>{% endif %}
    <span style='text-transform: lowercase;'><strong>{{ section._book.title }}</strong> by <strong>{{ section._book._poet.surname }}</strong>&nbsp;&nbsp;<span class='freq'>{{ section._book.sequences.count() }}</span></span>
    <br>
    <div class='row' style='margin-bottom: 10px;'>
        <div class='col-xs-1'></div>
        <div class='col-xs-11'>
    {% endif %}
    <span><a href="{{ url_for('poem_view', id=section.id) }}" style='padding: 2px 6px; margin: -2px -6px;' class='section-{{ section.status }}'><u>{{ section.section }}</u></a>&nbsp;&nbsp;</span>
    {% set prev = section %}
    {% endfor %}
</div>
{% endblock %}