{% extends 'base.html' %}

{% block head %}
<link href='//fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
<div class='markdown'> 
{% filter markdown %}

# Syllabification rules

**T0**:
No syllabification rules have applied.

<!-- **T1b**: If there is a consonant cluster word-initially, the entire cluster forms the onset of the first syllable. -->

<!-- **T1c**: If there is a consonant cluster word-finally, the entire cluster forms the coda of the final syllable. -->

<!-- **T1d**: If there is a bare "Finnish" consonant cluster word-medially and the previous syllable receives stress, the first consonant of the cluster forms the coda of the previous syllable (to create a heavy syllable); otherwise, the whole cluster forms the onset of the current syllable (this is the /kr/ rule). -->

<!-- **T1e**: If there is a word-medial "Finnish" consonant cluster that is preceded by a sonorant consonant, if the previous syllable receives stress, the sonorant consonant and the first consonant of the cluster form the coda of the previous syllable, and the remainder of the cluster forms the onset of the current syllable. -->

<!-- **T1f**: If there is a word-medial "Finnish" cluster that follows a consonant, that first consonant forms the coda of the previous syllable, and the cluster forms the onset of the current syllable. T1e bleeds T1f. -->

<!-- **T1a**: There is a syllable boundary in front of every CV sequence. -->

**T1**: Insert a syllable boundary in front of every CV sequence.

**T2**:
Split any VV sequence that does not form a long vowel or genuine diphthong (i.e., /ai, äi, oi, öi, ei, ui, yi, au, ou, eu, iu, äy, öy, ey, iy/). <!-- These sequences may appear within VVV+ sequences. -->

**T8**\*:
*Join* /ie/, /uo/, and /yö/ sequences in syllables that take primary stress.

**T4**:
Optionally split /u, y/-final diphthongs that do not take primary stress. *Produces variation.*

**T6**:
If a VVV sequence contains a long vowel, insert a syllable boundary between it and the third vowel.

**T11**\*:
If a VVV sequence contains a /u,y/-final diphthong, insert a syllable boundary between the diphthong and the third vowel.

  
# Decommissioned

**T3**:
Diphthongs that arise through Consonant Gradation may contain a syllable boundary.

**T5**:
If a VVV+ sequence contains an /i/-final diphthong, there is a syllable boundary between it and the third vowel.

**T7**:
Insert a syllable boundary between the second and third vowels of any VVV sequence.

{% endfilter %}
</div>
{% endblock %}
