{% extends 'base.html' %}

{% block body %}
<div class="markdown"> 
{% filter markdown %}

# Syllabification rules

**T1**:
There is a syllable boundary in front of every CV-sequence.

**T2**:
There is a syllable boundary within a sequence VV of two nonidentical vowels that are not a genuine diphthong, e.g., [ta.e], [ko.et.taa].

**T4**:
An agglutination diphthong that ends in /u, y/ usually contains a syllable boundary when -C# or -CCV follow, e.g., [lau.ka.us], [va.ka.ut.taa].

**T5**:
If a (V)VVV-sequence contains a VV-sequence that could be an /i/-final diphthong, there is a syllable boundary between it and the third vowel, e.g., [raa.ois.sa], [huo.uim.me], [la.eis.sa], [sel.vi.äi.si], [tai.an], [säi.e], [oi.om.me].

**T6**:
If a VVV-sequence contains a long vowel, there is a syllable boundary between it and the third vowel, e.g. [kor.ke.aa], [yh.ti.öön], [ruu.an], [mää.yt.te].

**T7**:
If a VVV-sequence does not contain a potential /i/-final diphthong, there is a syllable boundary between the second and third vowels, e.g. [kau.an], [leu.an], [kiu.as].

## TODO
Do not apply T4 to stressed syllables (particulary the first syllable).

{% endfilter %}
</div>
<br>
{% endblock %}

so.pe.ut.ti
te.ra.peut.ti -- third syllable receives secondary
le.uh.ka --> leuh.ka
