{% extends 'base.html' %}

{% block head %}
<link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
{{ modal() }}
<br>
<br>
<br>
<div>
    <form class='search' method='POST'>
        <input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
        <input type='text' name='search' class='search clear' placeholder="type in a {% if kw == 'find' %}word{% else %}sequence{% endif %}..." {% if find %}value={{ find }}{% endif %}> 
        <input type='submit' class='search clear' value={% if kw == 'find' %}'FIND'{% else %}'CONTAINS'{% endif %}>
    </form>
</div>
<br>
<br>
{% if results != none %}
{% if results %}
<div class='tokens container'>
    <!-- contains -->
    {% if kw == 'contains' %}
    <div class='contains'>
        <div class='count'>Words containing <i>{{ find }}</i> sequences ({{ count }} matches).</div>
        <br>
        {{ tokenify(results, inline=False ) }}
    </div>
    <!-- find -->
    {% else %}
    {{ tokenify(results, inline=False, explicit=True) }}
    {% endif %}
</div>
<br>
{% else %}
<span class='message'>No matches found.</span>
{% endif %}
{% endif %}
{% endblock %}

{% block footer %}
<script>
    function populatemodal(find, orth, gold, test, rules, syll, alt1, alt2, alt3, compound, stopword) {
        $('#orth').val(orth);
        $('#test').val(test);
        $('#test').addClass(gold);
        $('#rules').val(rules);
        $('#syll').val(syll);
        $('#alt1').val(alt1);
        $('#alt2').val(alt2);
        $('#alt3').val(alt3);
        $('#find').val(find);
        if (compound == 'checked') {
            $('#compound').prop('checked', true);
        };
        if (stopword == 'checked') {
            $('#stopword').prop('checked', true);
        };
    }
</script>
{% endblock %}
