{% extends 'base.html' %}

{% block body %}
{{ modal() }}
<br>
<br> 
<!-- unverified, variation -->
{% if kw == 'unverified' or kw == 'vv' %}
<div class='tokens container'>
    <form method='POST'>
        <input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
        {{ tokenify(tokens, inline=True )}}
        <br>
        <div class='center'>
            <input type='submit' class='BIG OK' onclick="return confirm('Are you positive you want to approve these syllabifications?');" value='OK!'>
        </div>
    </form>
</div>
<br>
<!-- bad, hidden -->
{% else %}
<div class='tokens container'>
    {{ tokenify(tokens, inline=False )}}
</div>
{% endif %} 
<br>
{{ paginate(pagination) }}
{% endblock %}

{% block footer %}
<script>
    function populatemodal(find, orth, gold, test, rules, syll, alt1, alt2, alt3, compound, stopword) {
        $('#orth').val(orth);
        $('#test').val(test);
        $('#test').addClass(gold);
        $('#rules').val(rules);
        $('#syll').val(syll);
        $('#alt1').val(alt1);
        $('#alt2').val(alt2);
        $('#alt3').val(alt3);
        $('#find').val(find);
        if (compound == 'checked') {
            $('#compound').prop('checked', true);
        };
        if (stopword == 'checked') {
            $('#stopword').prop('checked', true);
        };
    }
</script>
{% endblock %}