{% extends 'base.html' %}

{% block body %}
{{ modal() }}
<br>
<br> 

<div class='container'>
    {% if secondary %}
    <div class='stats'> <!-- TODO: rename class -->
        {% if secondary == 'list' %}
        This page lists all of the words that display variation, whether in their <i>test</i> syllabifications, <i>gold</i> syllabifications, or both.
        {% elif secondary == 'test' %}
        This page lists all previously verified words that display variation in their <i>test</i> syllabifications, but not in their gold syllabifications.
        {% elif secondary == 'gold' %}
        This page lists all previously verified words that display variation in their <i>gold</i> syllabifications, but not in their test syllabifications.
        {% endif %}
        <br>
        <i>{{ count }} matches</i>
    </div>
    {% endif %}
    <div class='tokens'>
        {% if kw == 'unverified' or kw == 'variation' and secondary != 'list' %}
        <form method='POST'>
            <input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
            <div class='row hidden-xs hidden-sm'>
                {% if kw == 'unverified '%}<span class='attr-label col-md-1'>freq</span>{% endif %}
                <span class='attr-label col-md-2'>orth</span>
                <span class='attr-label col-md-2'>rules</span>
                <span class='attr-label col-md-3'>test</span>
                <span class='attr-label col-md-3'>syll</span>
                {% if kw == 'variation '%}<span class='attr-label col-md-1'>p / r</span>{% endif %}
                <span class='attr-label col-md-1'>compound</span>
            </div>
            <br class='hidden-xs hidden-sm'>
            {% if kw == 'unverified '%} <!--  unverified -->
            {% for t in tokens %}
            <div class='row'>
                <input type='hidden' name='id_{{ loop.index }}' value='{{ t.id }}'> 
                <span class='col-xs-12 col-md-1'>
                    <span class='freq'>{{ t.freq }}</span>
                </span>
                <span class='col-xs-12 col-md-2'>
                    <span class='{{ t|goldclass }}' title='{{ title(t) }}'>{{ t.orth }}</span>
                </span>
                <span class='col-xs-4 col-md-2'>
                    <span class='gray'>{{ t.rules1 }}</span>
                    {% if t.rules2 %}<div class='gray'>{{ t.rules2 }}</div>
                    {% if t.rules3 %}<div class='gray'>{{ t.rules3 }}</div>
                    {% if t.rules4 %}<div class='gray'>{{ t.rules4 }}</div>{% endif %}{% endif %}{% endif %}
                </span>
                <span class='col-xs-6 col-md-3'>
                    <span class='gray'>{{ t.test_syll1 }}</span>
                    {% if t.test_syll2 %}<div class='gray'>{{ t.test_syll2 }}</div>
                    {% if t.test_syll3 %}<div class='gray'>{{ t.test_syll3 }}</div>
                    {% if t.test_syll4 %}<div class='gray'>{{ t.test_syll4 }}</div>{% endif %}{% endif %}{% endif %}
                </span>
                <span class='col-xs-12 col-md-3'>
                    <input type='text' class='gray' name='syll1_{{ loop.index }}' placeholder='alternative syll' value='{{ t.test_syll1 }}'><br>
                    <input type='text' class='gray' name='syll2_{{ loop.index }}' placeholder='alternative syll' value='{{ t.test_syll2 }}'><br>
                    <input type='text' class='gray' name='syll3_{{ loop.index }}' placeholder='alternative syll' value='{{ t.test_syll3 }}'><br>
                    <input type='text' class='gray' name='syll4_{{ loop.index }}' placeholder='alternative syll' value='{{ t.test_syll4 }}'>
                </span>
                <span class='col-xs-12 col-md-1'>
                    <input type='checkbox' id='compound' name='is_compound_{{ loop.index }}' value=1 {% if t.is_compound %} checked{% endif %}>
                    <span class='attr-label visible-xs visible-sm' style='float: left;'>compound&nbsp;&nbsp;</span>
                </span>
            </div>
            <div class='row'>
                <span class='hidden-xs hidden-sm col-md-3'></span>
                <span class='col-xs-12 col-md-9'>
                    <textarea class='gray note' name='note_{{ loop.index }}' placeholder='Note...' >{{ t.note }}</textarea>
                </span>
            </div>
            <br>
            <br>
            {% endfor %}
            {% else %}  <!--  test variation, gold variation -->
            {% for t in tokens %}
            <div class='row'>
                <input type='hidden' name='id_{{ loop.index }}' value='{{ t.id }}'> 
                <span class='col-xs-12 col-md-2'>
                    <span class='{{ t|goldclass }}' title='{{ title(t) }}'>{{ t.orth }}</span>
                </span>
                <span class='col-xs-4 col-md-2'>
                    <span class='gray'>{{ t.rules1 }}</span>
                    {% if t.rules2 %}<div class='gray'>{{ t.rules2 }}</div>
                    {% if t.rules3 %}<div class='gray'>{{ t.rules3 }}</div>
                    {% if t.rules4 %}<div class='gray'>{{ t.rules4 }}</div>{% endif %}{% endif %}{% endif %}
                </span>
                <span class='col-xs-6 col-md-3'>
                    <span class='gray'>{{ t.test_syll1 }}</span>
                    {% if t.test_syll2 %}<div class='gray'>{{ t.test_syll2 }}</div>
                    {% if t.test_syll3 %}<div class='gray'>{{ t.test_syll3 }}</div>
                    {% if t.test_syll4 %}<div class='gray'>{{ t.test_syll4 }}</div>{% endif %}{% endif %}{% endif %}
                </span>
                <span class='col-xs-12 col-md-3'>
                    <input type='text' class='gray' name='syll1_{{ loop.index }}' placeholder='alternative syll' value='{{ t.syll1 }}'><br>
                    <input type='text' class='gray' name='syll2_{{ loop.index }}' placeholder='alternative syll' value='{{ t.syll2 }}'><br>
                    <input type='text' class='gray' name='syll3_{{ loop.index }}' placeholder='alternative syll' value='{{ t.syll3 }}'><br>
                    <input type='text' class='gray' name='syll4_{{ loop.index }}' placeholder='alternative syll' value='{{ t.syll4 }}'>
                </span>
                <span class='col-xs-12 col-md-1'>
                    {{ t.precision }} / {{ t.recall }}
                    <span class='attr-label visible-xs visible-sm' style='float: left;'>prR&nbsp;&nbsp;</span>
                </span>
                <span class='col-xs-12 col-md-1'>
                    <input type='checkbox' id='compound' name='is_compound_{{ loop.index }}' value=1 {% if t.is_compound %} checked{% endif %}>
                    <span class='attr-label visible-xs visible-sm' style='float: left;'>compound&nbsp;&nbsp;</span>
                </span>
            </div>
            <div class='row'>
                <span class='hidden-xs hidden-sm col-md-2'></span>
                <span class='col-xs-12 col-md-10'>
                    <textarea class='gray note' name='note_{{ loop.index }}' placeholder='Note...'>{{ t.note }}</textarea>
                </span>
            </div>
            <br>
            <br>
            {% endfor %}
            {% endif %}
            <div class='center'>
                <input type='submit' class='BIG OK' onclick="return confirm('Are you positive you want to approve these syllabifications?');" value='OK!'>
            </div>
        </form>
        {% else %}
        {% if kw == 'notes' %} <!-- notes -->
        <div class='row hidden-xs hidden-sm'>
            <span class='attr-label col-md-3'>orth</span>
            <span class='attr-label col-md-3'>note</span>
        </div>
        <br class='hidden-xs hidden-sm'>
        {% for t in tokens %}
        <div class='row'>
            <span class='col-xs-12 col-md-3'>
                <span class='{{ t|goldclass }}' title='{{ title(t) }}' data-toggle='modal' data-target='#modal' onclick="{{ populate(t) }}">{{ t.orth }}</span>
            </span>
            <span class='col-xs-12 col-md-9' data-toggle='modal' data-target='#modal' onclick="{{ populate(t) }}">{{ t.note }}</span>
        </div>
        <br>
        {% endfor %}
        {% else %} <!-- bad, all variation, hidden -->
        {{ tokenify(tokens) }}
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block footer %}
<script>
    function populatemodal(id, orth, gold, freq, pos, msd, rules1, rules2, rules3, rules4, test1, test2, test3, test4, syll1, syll2, syll3, syll4, precision, recall, compound, stopword, foreign, note) {
        $('#orth').text(orth);
        $('#orth').addClass(gold);
        $('#freq').text(freq);
        $('#pos').text(pos);
        $('#msd').text(msd);
        $('#precision').text(precision);
        $('#recall').text(recall);
        $('#rules1').text(rules1);
        $('#rules2').text(rules2);
        $('#rules3').text(rules3);
        $('#rules4').text(rules4);
        $('#test1').text(test1);
        $('#test2').text(test2);
        $('#test3').text(test3);
        $('#test4').text(test4);
        $('#syll1').val(syll1);
        $('#syll2').val(syll2);
        $('#syll3').val(syll3);
        $('#syll4').val(syll4);
        $('#note').text(note);
        $('#id').val(id);
        if (compound == 'True') {
            $('#compound').prop('checked', true);
        };
        if (stopword == 'True') {
            $('#stopword').prop('checked', true);
        };
        if (foreign == 'True') {
            $('#foreign').prop('checked', true);
        };
    }
</script>
{% endblock %}