<!DOCTYPE html>

<html lang='en'>

    <title>FinnSyll</title>

    <head>
        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}">
        {% block head %}{% endblock %}
        <script type='text/javascript'>
            function uncheck(namenum) {
                var box = confirm('Are you positive you want to delete this token?');
                if (box==true);
                    document.getElementById(namenum).value = 0;
                    return true
            }
        </script>
    </head>

    <body>

        <nav class='fixed-nav-bar'>
            <ul>
                <li><a href="{{ url_for('main_view') }}" class="nav {% if kw == 'main' %}highlight{% endif %}">Main &#8623;</a>
                    <ul>
                        {% for doc in docs %}
                            <li><a href="{{ url_for('doc_view', id=doc.id) }}" class='doc-title'>Doc {{ doc.id }}</a></li>
                        {% else %}
                            <li class='no-docs'><a href="#">...</a></li>
                        {% endfor %}
                    </ul>
                    <span class="bar">|</span>
                </li>
                <li><a href="{{ url_for('unverified_view') }}" class="nav {% if kw == 'unverified' %}highlight{% endif %}">Unverified</a> <span class="bar">|</span></li>
                <li><a href="{{ url_for('good_view') }}" class="nav {% if kw == 'good' %}highlight{% endif %}">Good</a> <span class="bar">|</span></li>
                <li><a href="{{ url_for('bad_view') }}" class="nav {% if kw == 'bad' %}highlight{% endif %}">Bad</a> <span class="bar">|</span></li>
                <li><a href="{{ url_for('logout_view') }}" class="nav">Sign Out</a></li>
            <ul>
        </nav>

        <br>

        <div class='block-body'>
            {% block body %}{% endblock %}
        </div>

        <br>
        <br>
        <br>
        <br>

    </body>

</html>