/* Bootstrap: http://getbootstrap.com/customize/?id=49e4bd0bcb0c1cb66854 */

/* fonts ------------------------------------------------------------------- */

    body,
    .entrance input {
        font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .tokens,
    .attr-label {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .doc-title,
    .doc-text,
    .poem-title,
    .poem-poet,
    .poem-text {
        font-family: Garamond, 'EB Garamond', serif;
    }

    .message {
        font-family: 'Pacifico', Garamond, cursive;
    }

    code {
        font-family: 'Droid Sans Mono' !important;
    }

/* font sizes -------------------------------------------------------------- */

    .poem-title {
        font-size: 42px;
    }

    .doc-title,
    .poem-poet {
        font-size: 28px;
    }

    .doc-text,
    .poem-text,
    .attr-orth,
    .variation-orth {
        font-size: 22px;
    }

    nav,
    div.markdown,
    input.clear[type='submit'],
    .dropdown-menu > li > a,
    .OK,
    .find,
    .message,
    .pagination,
    .description{
        font-size: 19px;
    }

    input.clear[type='text'],
    .flash,
    .tokens,
    .modal-body {
        font-size: 16px;
    }

/* colors ------------------------------------------------------------------ */

    body,
    pre,
    .word {
        color: #333;
    }

    li a span:hover,
    .highlight {
        border-bottom: 2px solid #00FF7F; /* green */
    }

    .word:hover,
    .variation, {
        color: #000;
        background-color: #80FFBF; /* light green */
    }

    .punct {
        color: #4D4D4D;
    }

    .OK {
        color: #FFF;
        border: 1px solid #00FF7F; /* green */
        background-color: #00FF7F; /* green */
    }

    .OK:hover {
        color: #00FF7F; /* green */
    }

    input.clear,
    .OK:hover {
        background-color: #FFF;
    }

    input.clear {
        border: 1px solid #E0E0E0; /* light gray */
    }

    .divide {
        border-bottom: 1px solid #E0E0E0; /* light gray */
    }

    input.clear:focus,
    input.clear[type='submit']:hover,
    .OK:hover {
        border: 1px solid #C7C7C7; /* dark gray */
    }

    pre,
    input.gray,
    textarea.gray,
    .seq-attr,
    .seq-note {
        background-color: #F5F5F5; /* medium gray */
    }

    .attr-label,
    .freq {
        color: #C7C7C7; /* dark gray */
    }

    .good,
    .variation-verified {
        background: #D1EDFF; /* blue */
    }

    .bad,
    .variation-unverified {
        background: #FFE4E1; /* red */
    }

    .compound {
        border-bottom: 2px #FF7F50 dashed; /* orange */
    }

/* navbar ------------------------------------------------------------------ */

    nav {
        text-transform: lowercase;
        }

    nav li a span {
        word-wrap: normal;
        }

    nav li a span:hover {
        border-bottom-style: dashed;
        }

    nav li a span:hover,
    .highlight {
        padding-bottom: 2px;
        }

    .dropdown-menu > li > a {
        text-transform: lowercase;
        text-align: center;
        padding: 10px;
        }

/* doc --------------------------------------------------------------------- */

    .doc-title {
        margin-top: 20px;
    }

    .doc-text {
        line-height: 144%;
        width: 60%;
        margin: 20px auto;
    }

    .punct,
    .word {
        padding: 3px;
    }

    .punct {
        font-weight: bold;
    }

/* poem -------------------------------------------------------------------- */

    .poem-title {
        margin-top: 20px;
    }

    .poem-poet,
    .poem-title {
        text-transform: lowercase;
    }

    .poem-text {
        line-height: 144%;
        width: 60%;
        margin: 20px auto;
    }

    .variation-orth {
        font-style: italic;
        margin: 10px 0;
    }

    .variation {
        margin-left: -5px;
        padding-left: 6px !important;
    }

    .seq-attr {
        padding: 8px;
    }

    .seq-note {
        /*margin-top: 10px;*/
        border: none;
        resize: none;
    }

/* markdown ---------------------------------------------------------------- */

    h1 {
        font-weight: bold;
    }

    div.markdown {
        text-align: left;
        margin: 4% 20%;
    }

    div.markdown > h1,
    div.markdown > p {
        margin-bottom: 28px;
    }

    pre {
        line-height: 1.5;
        overflow-x: auto;
        border: none;
        padding: 20px 0;
        margin: -10px 0 20px;
    }

    pre code {
        overflow-wrap: normal;
        white-space: pre;
    }

/* forms ------------------------------------------------------------------- */

    input[type='password'],
    input[type='submit'],
    input[type='text'],
    textarea {
        height: 40px;
        padding: 4px;
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }

    input:focus,
    textarea:focus {
        outline: none;
    }

    input.gray,
    textarea.gray {
        width: 100%;
        border: none;
        margin: 12px 0px;
    }

    input.search[type='text'] {
        width: 300px;
    }

    input.search[value='FIND'] {
        width: 80px;
    }

    input.search[value='CONTAINS'] {
        width: 120px;
    }

    .OK {
        width: 60px;
    }

    .BIG.OK {
        width: 100px;
    }

/* tokens ------------------------------------------------------------------ */

    .tokens {
        word-wrap: break-word;
    }

    .tokens .unverified,
    .tokens .good,
    .tokens .bad,
    .variation {
        padding: 4px;
    }

    .attr-label {
        font-style: italic;
        word-wrap: normal;
    }

    .attr-orth {
        font-style: italic;
        font-weight: bold;
        padding: 6px 10px !important;
    }

/* modal ------------------------------------------------------------------- */

    .modal-dialog {
        top: 90px;
        max-width: 600px;
        margin: auto;
        }

    .modal-body {
        margin: 0 -10px;
        }

    .modal-label {
        text-transform: uppercase;
        }

    .modal-body .gray {
        height: 30px;
        padding-left: 4px;
        margin: 2px 0 2px -4px;
        }

    .close span {
        text-decoration: none;
        position: absolute;
        right: 20px;
        top: 8px;
        }

    .modal-body textarea.gray {
        height: 133px;
        resize: none;
    }

/* misc -------------------------------------------------------------------- */

    .center {
        text-align: center;
        display: block;
        }

    .description {
        line-height: 40px;
        margin-bottom: 30px;
        }

    .pagination {
        word-spacing: 10px;
        margin: 40px auto;
        }

    .divide {
        width: 100%;
    }

    .height {
        height: 5px;
    }

    .float-left {
        float: left;
    }

/* media queries ----------------------------------------------------------- */

    @media (min-width: 992px) {

        textarea.gray {
            margin: -9px inherit 20px;
            }

        .navbar-nav {
            width: 100%;
            text-align: center;
            }

        .navbar-nav > li {
            float: none;
            min-width: 110px;
            display: inline-block;
            }

        .tokens input.gray {
            margin-top: -20px;
            }

        .tokens input.gray::-webkit-input-placeholder {
            color: #F5F5F5;
            }

        .tokens input.gray:-moz-placeholder {
            color: #F5F5F5;  
            }

        .tokens input.gray::-moz-placeholder {
            color: #F5F5F5;  
            }

        .tokens input.gray:-ms-input-placeholder {  
            color: #F5F5F5;  
            }

        }

        .seq-note::-webkit-input-placeholder {
            color: #F5F5F5;
            }

        .seq-note:-moz-placeholder {
            color: #F5F5F5;  
            }

        .seq-note::-moz-placeholder {
            color: #F5F5F5;  
            }

        .seq-note:-ms-input-placeholder {  
            color: #F5F5F5;  
            }

        }

    @media (max-width: 992px) {

        div.markdown {
            text-align: left;
            margin: 4% 12%;
        }

        .tokens input.gray {
            margin: 2px 0px;
            }

        .navbar-default .navbar-nav > .open > a,
        .navbar-default .navbar-nav > .open > a:hover {
            background-color: #80FFBF;
            }

        .dropdown-menu > li {
            height: 40px;
            background-color: #FBFBFB;
            }

        }